# Ignore build, bin and test directories
/build
/bin

# Ignore compiled object files and executables
*.o
*.out

# Ignore local configuration files
.vscode
.DS_Store

#Ignore Dockerfiles
Dockerfile

# Ignore files generated during the build process


